<html>
<head>
<title>gh.funthomas424242.webapp.Anmeldung</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: txt"><![CDATA[

(gh/funthomas424242/webapp/Anmeldung.story)
Meta:
@author FunThomas424242

Narrative:
In order to Kochrezepte erfassen zu können
As a Koch
I want to alle notwendigen Daten in einer Webanwendung eingeben können
Damit ich diese anschließend als Kochbuch Projekt exportieren kann.
Scenario: Erfolgreiche Anmeldung
Gegeben sei als aktuelle Seite die Loginseite.
Wenn in das Textfeld user der Text Huluvu424242 eingegeben wird (FAILED)
(java.lang.ClassCastException: org.openqa.selenium.remote.RemoteWebElement cannot be cast to com.gargoylesoftware.htmlunit.html.HtmlInput)
Und in das Passwordfeld password der Text Geheim eingegeben wird (NOT PERFORMED)
Dann wird die Meldung Ihre Anmeldung war erfolgreich angezeigt. (NOT PERFORMED)

Scenario: Keine Anmeldung

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
