<html>
<head>
<title>gh.funthomas424242.webapp.Int.NavigationPortalSeiten</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: txt"><![CDATA[

(gh/funthomas424242/webapp/Int.NavigationPortalSeiten.story)
Meta:
@author FunThomas424242

Narrative:
In order to die Anwendung vollständig benutzen zu können
As a Koch
I want to zwischen den einzelnen Seiten navigieren können
Damit auch an die richtigen Stellen in der Anwendung gelangen kann.
Scenario: Navigation vom Default zur Welcome Seite
Gegeben sei die Webserver Übersichtsseite.
Wenn der erste Link geklickt wird
Dann wird zur Welcome Seite navigiert.

Scenario: Navigation zur Login Seite
Gegeben sei als aktuelle Seite die Welcome Seite.
Wenn der Link Anmelden geklickt wird
Dann wird zur Login Seite navigiert.



]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
